*.pyc
*.wav
*.aif
*.aiff
*/*/*/*/_My*
*/*/*/_My*
*/*/_My*
*/_My*
_My*
*/*/*/*/.DS_Store
*/*/*/.DS_Store
*/*/.DS_Store
*/.DS_Store
.DS_Store
before*
*.command
Max_library/external/catart
Max_library/external/MuBu For Max 
Max_library/_Tutorials_/Version-App
Max_library/Dyci2App
Max_library/external/externals_ISMM_Ircam
Max_library/external/catart
Python_library/venv
Python_library/.idea
