*.pyc
*.wav
*.aif
*.aiff
*/*/*/*/_My*
*/*/*/_My*
*/*/_My*
*/_My*
_My*
*/*/*/*/.DS_Store
*/*/*/.DS_Store
*/*/.DS_Store
*/.DS_Store
.DS_Store
before*
*.command

# Pycharm
.idea/
*.iml

# PyInstaller
*.manifest
*.spec
build/
dist/